/node_modules
/public/hot
/public/storage
/storage/*.key
/public/pdf/*
/public/pdf/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
**/.DS_Store
public/.DS_Store
public/pdf/.DS_Store
public/pdf/2021/.DS_Store
