@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Black';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
.black {
  font-family: 'Raleway-Black';
}

body,
table,
p,
.regular {
  font-family: 'Raleway-Regular';
}

p {
  line-height: 1.5rem;
}

form {
  font-family: 'Raleway-Regular';
}
label,
button,
#select_total_persons,
.bold {
  font-family: 'Raleway-Bold';
}

.btn-primary {
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  box-shadow: 0 0 7px rgba(0,0,0,0.4);
}

.inactive {
  pointer-events: none !important;
  opacity: 0.6 !important;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #074161;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-size: 1.2em;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  /*border-bottom: 2px solid #074161;*/
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #074161;
}

.btn-active {
  background-color: #074161 !important;
  border: 1px solid #074161;
}

.person-row {
  display: none;
}

.person_row_1 {
  display: block;
}

.person_row_2 {
  display: block;
}

.coupled_room_input,
#first_name_person_1,
#last_name_person_1,
#email_person_1,
#phone_person_1,
#street_person_1,
#postal_code_person_1,
#town_person_1,
#birth_date_person_1,
#country_person_1 {
  pointer-events: none;
  background-color: rgba(0,0,0,0.04);
}

.form-field-half {
  width: calc(50% - 5px);
}

.form-field-third {
  width: calc(33% - 5px);
}

.form-field-quarter {
  width: calc(25% - 5px);
}

.form-field-sixth {
  width: calc(100% / 6 - 5px);
}

.form-field-radio {
  width: 60px;
}

.form-field-last-name {
  width: calc(100% - 50% - 60px - 20px);
}

.w-street {
  width: 40%;
}

.w-name {
  width: 25%;
}

.w-lastname {
  width: 40%;
}

.w-birthdate {
  width: 35%;
}

.w-email {
  width: 30%;
}

.w-phone {
  width: 30%;
}

.w-bike {
  width: 25%;
}

.w-food {
  width: 25%;
}

.w-room {
  width: 25%;
}

.w-height {
  width: 25%;
}

#select_total_persons {
  transform: translateY(-9px);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

[x-cloak] {
  display: none;
}
