@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*.btn {
  @apply select-none font-bold whitespace-no-wrap p-3 rounded-lg text-base leading-normal no-underline text-gray-100 bg-orange-500 hover:bg-orange-700 sm:py-4;
}*/

table, td, th {
  border: 1px solid #000;
  border-radius: 4px;
  text-align: left;
}

table {
  width: 100%;
  border-radius: 4px;
}

td,th {
  padding: 10px 20px;
  white-space: nowrap;
}

select {
  cursor: pointer;
}

/*.btn-orange {
  @apply relative inline-block w-auto select-none font-bold whitespace-no-wrap p-4 rounded-lg text-base leading-small no-underline text-gray-100 bg-orange-500 hover:bg-orange-700;
}*/

.btn-active {
  background-color: #074161 !important;
  border: 1px solid #074161;
}

.person-row {
  display: none;
}

.person_row_1 {
  display: block;
}

.person_row_2 {
  display: block;
}

.coupled_room_input,
#first_name_person_1,
#last_name_person_1,
#email_person_1,
#phone_person_1,
#street_person_1,
#postal_code_person_1,
#town_person_1,
#country_person_1 {
  pointer-events: none;
  background-color: rgba(0,0,0,0.04);
}

.form-field-half {
  width: calc(50% - 5px);
}

.form-field-third {
  width: calc(33% - 5px);
}

.form-field-quarter {
  width: calc(25% - 5px);
}

.form-field-sixth {
  width: calc(100% / 6 - 5px);
}

.form-field-radio {
  width: 60px;
}

.form-field-last-name {
  width: calc(100% - 50% - 60px - 20px);
}

.w-name {
  width: 15%;
}

.w-lastname {
  width: 25%;
}

.w-email {
  width: 30%;
}

.w-phone {
  width: 30%;
}

.w-bike {
  width: 15%;
}

.w-food {
  width: 40%;
}

.w-room {
  width: 30%;
}

.w-height {
  width: 15%;
}

#select_total_persons {
  transform: translateY(-9px);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}


