@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/*.btn {
  @apply select-none font-bold whitespace-no-wrap p-3 rounded-lg text-base leading-normal no-underline text-gray-100 bg-blue-500 hover:bg-blue-700 sm:py-4;
}*/

table, td, th {
  border: 1px solid #000;
  border-radius: 4px;
  text-align: left;
}

table {
  width: 100%;
  border-radius: 4px;
}

td,th {
  padding: 10px 20px;
}

select {
  cursor: pointer;
}

/*.btn-blue {
  @apply relative inline-block w-auto select-none font-bold whitespace-no-wrap p-4 rounded-lg text-base leading-small no-underline text-gray-100 bg-blue-500 hover:bg-blue-700;
}*/

.btn-active {
  background-color: #0e9f6e !important;
  border: 1px solid #0e9f6e;
}

.person-row {
  display: none;
}

.person_row_1 {
  display: block;
}

